.login-container {
  min-height: 100vh;
  background: var(--bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.login-form-container {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}

.login-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
  color: var(--text-color);
  transition: font-size 500ms;
}

.login-form {
  background: #fff;
  border-radius: 0.75rem;
  padding: 2rem 2.5rem;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  min-width: 320px;
  height: auto;
  overflow: hidden;
  transition: height 0.2s linear, opacity 0.5s linear;
}

.hide {
  height: 0;
  opacity: 0;
  transition: height 0.2s linear, opacity 0.2s linear;
}

.signup-fields {
  animation: fadeIn 0.5s linear;
}

.login-form.signup {
  height: 425px;
  opacity: 100%;
  transition: height 0.2s linear, opacity 0.8s linear;
}

.login-form.login {
  height: 280px;
}

.login-form label {
  font-weight: 500;
  color: #222;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.login-input {
  border: 1px solid #ccc;
  border-radius: 0.375rem;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  transition: border-color 0.2s;
}

.login-input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.login-button {
  padding: 0.75rem;
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
  margin-top: 1rem;
  background: none;
  border: 2px solid var(--bg-color);
  transition: all 0.2s ease-in-out;
  z-index: 1;
}

.login-button:hover,
.login-button:focus {
  color: var(--text-color);
  transition: all 0.2s ease-in-out;
  background: var(--bg-color);
  box-shadow: inset 0 -3.25em 0 0 var(--bg-color);
}

.login-success {
  color: #22bb33;
  margin-top: 1rem;
  text-align: center;
}

.login-error {
  color: #d11f2f;
  margin-top: 1rem;
  text-align: center;
}

.login-title.active {
  transition: font-size 800ms;
  font-size: 2.5rem;
}

.login-title:hover {
  transition: font-size 300ms;
  font-size: 2.5rem;
}

.tab-btn {
  background: none;
  border: none;
  cursor: pointer;
}
