@import "tailwindcss";

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-in {
  animation: slideIn 0.5s ease-in-out forwards;
}

.task-container {
  display: flex;
  gap: 10px;
}

[data-theme="blue"] .title {
  background: linear-gradient(to right, #f59e0b, #ea580c);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.save-button {
  width: 100%;
  color: var(--text-color);
  padding: 0.75rem;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid var(--btn-color);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
  backface-visibility: hidden;
  will-change: transform, background-color;
}

.save-button:hover,
.save-button:active,
.save-button:focus {
  background-color: var(--btn-color);
  color: var(--text-color);
  transition: all 0.2s ease-in-out;
}

[data-theme="neon"] .plus {
  color: var(--bg-color);
}

.plus:hover,
.minus:hover,
.plus:active,
.minus:active,
.plus:focus,
.minus:focus {
  transform: perspective(500px) translate3d(0px, 0, 100px);
}

[data-theme="neon"] .save-button,
[data-theme="blue"] .save-button {
  background-color: var(--bg-color);
}

[data-theme="modern"] .save-button {
  border-color: white;
}

[data-theme="neon"] .save-button:hover,
[data-theme="blue"] .save-button:hover {
  outline: none;
  background-color: var(--text-color);
  border-color: var(--text-color);
  color: var(--bg-color);
  transform: translateZ(0);
}

[data-theme="neon"] .save-button:focus,
[data-theme="blue"] .save-button:focus {
  outline: none;
  transform: translateZ(0);
}

[data-theme="neon"] .save-button:active,
[data-theme="blue"] .save-button:active {
  outline: none;
}

.save-button:disabled {
  background-color: var(--secondary-color);
  cursor: not-allowed;
  border-color: var(--secondary-color);
}
