.hamburger-menu {
  position: relative;
}

.hamburger-button {
  background: none;
  border: none;
  color: var(--text-color);
  cursor: pointer;
  padding: 0.5rem;
  justify-self: flex-end;
  position: relative;
  z-index: 99;
  display: flex;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

[data-theme="modern"] .menu-content {
  background-color: #f55d3e;
}

.menu-content {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 250px;
  background-color: var(--bg-color);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  animation: slideIn 0.3s ease-out;
}

.menu-content button {
  background: none;
  border: none;
  color: var(--text-color);
  font-size: 1.1rem;
  padding: 0.75rem;
  text-align: left;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: background-color 0.2s;
}

.menu-content button:hover {
  background-color: var(--secondary-color);
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
