.goal-description {
  color: var(--secondary-text-color);
}

.cancel-button {
  border-color: var(--card-border);
  cursor: pointer;
}

[data-theme="rainbow"] .cancel-button:hover {
  background-color: var(--text-color);
  color: var(--secondary-text-color);
}

[data-theme="neon"] .cancel-button:hover {
  background-color: var(--text-color);
  color: var(--bg-color);
}

.submit-button {
  /* border: 1px solid var(--color-white); */
  background-color: var(--btn-color);
  color: var(--secondary-text-color);
}
