@keyframes pulsate {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}

@keyframes fadeOut {
  from {
    opacity: 100%;
  }

  to {
    opacity: 0%;
  }
}

.background {
  transition: transform 2s ease-in-out;
  overflow: hidden;
}

.grow-fade {
  transform: scale(40);
}
