@keyframes pulsate {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}

@keyframes fadeOut {
  from {
    opacity: 100%;
  }

  to {
    opacity: 0%;
  }
}

.app-container {
  transition: background 1s ease;
}

.background {
  transition: transform 2s ease-in-out;
  overflow: hidden;
}

.grow-fade {
  transform: scale(40);
}

.main-button {
  padding: 0.75rem;
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
  margin-top: 1rem;
  background: none;
  border: 2px solid var(--btn-color);
  transition: all 0.2s ease-in-out;
  z-index: 1;
}

.main-button:hover,
.main-button:focus {
  color: var(--text-color);
  transition: all 0.2s ease-in-out;
  background: var(--bg-color);
  box-shadow: inset 0 -3.25em 0 0 var(--bg-color);
}

.main-button:active {
  transform: translateY(1px) translateZ(0);
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.1);
}

.main-button:disabled {
  background-color: var(--secondary-color);
  cursor: not-allowed;
  border-color: var(--secondary-color);
}
