@import url("https://fonts.googleapis.com/css2?family=Kameron:wght@400;700&display=swap");
@import "tailwindcss";

:root {
  --primary-color-peach: #ffdab3;
  --primary-color-purple: #574964;
  --primary-color-purple-light: #9f8383;
  --primary-color-purple-lighter: #c8aaaa;
  --primary-color-orange: #f55d3e;
  --primary-color-red: #d11f2f;
  --primary-color-teal: #07707a;
  --primary-color-green: #077a5b;
  --primary-color-yellow: #f5b83e;
  --primary-color-dark: #1a1a1a;
  --font-kameron: "Kameron", sans-serif;
}
[data-theme="modern"] {
  --bg-color: #f55d3e;
  --text-color: #1a1a1a;
  --secondary-text-color: #1a1a1a;
  --inverse-text-color: #ffffff;
  --primary-color: #8b5cf6;
  --secondary-color: #50505b;
  --accent-color: #fb923c;
  --accent-color-light: #fdba74;
  --btn-color: var(--primary-color-teal);
}
/* Dark Theme */
[data-theme="dark"] {
  --bg-color: #1a1a1a;
  --text-color: #ffffff;
  --secondary-text-color: #1a1a1a;
  --inverse-text-color: #1a1a1a;
  --primary-color: #8b5cf6;
  --secondary-color: #4b5563;
  --accent-color: #b396f7;
  --accent-color-light: #fdba74;
  --btn-color: #077a5b;
}

[data-theme="rainbow"] {
  --bg-color: transparent;
  --text-color: #ffffff;
  --secondary-text-color: #1a1a1a;
  --inverse-text-color: #1a1a1a;
  --primary-color: #8b5cf6;
  --secondary-color: #4b5563;
  --accent-color: #b396f7;
  --accent-color-light: #fdba74;
  --btn-color: #077a5b;
  background: linear-gradient(
    315deg,
    rgba(101, 0, 94, 1) 3%,
    rgb(33, 76, 119) 38%,
    rgb(19, 99, 93) 68%,
    rgb(166, 20, 20) 98%
  );
  animation: gradient 50s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

/* Light Theme */
[data-theme="light"] {
  --bg-color: #c1f9c6;
  --text-color: #1a1a1a;
  --secondary-text-color: #1a1a1a;
  --inverse-text-color: #ffffff;
  --primary-color: #8b5cf6;
  --secondary-color: #4b5563;
  --accent-color: #fb923c;
  --accent-color-light: #fdba74;
  --btn-color: #077a5b;
}

/* Blue Theme */
[data-theme="blue"] {
  --bg-color: #1e40af;
  --text-color: #ffffff;
  --secondary-text-color: #1a1a1a;
  --inverse-text-color: #1a1a1a;
  --primary-color: #3b82f6;
  --secondary-color: #60a5fa;
  --accent-color: #65d82b;
  --accent-color-light: #7dd3fc;
  --btn-color: #3b82f6;
}

#root {
  background-color: var(--bg-color);
  font-family: var(--font-kameron);
  height: 100%;
}

html,
body {
  height: 100%;
  width: 100%;
}

@layer base {
  :root h1 {
    @apply text-5xl;
  }
  :root h2 {
    @apply text-4xl;
  }
  :root h3 {
    @apply text-xl;
  }
  :root h4 {
    @apply text-base;
  }
  :root h5 {
    @apply text-sm;
  }
}

@layer utilities {
  .animation-delay-75 {
    animation-delay: 75ms;
  }
  .animation-delay-500 {
    animation-delay: 500ms;
  }
  .animation-delay-1000 {
    animation-delay: 1s;
  }
  .btn {
    @apply bg-[var(--bg-color)] rounded;
  }
  [data-theme="light"] .login-button {
    color: #1a1a1a;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.wave {
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
    transform: translateX(1);
  }

  25% {
    transform: translateX(-25%);
  }

  50% {
    transform: translateX(-50%);
  }

  75% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(1);
  }
}
