@import url("https://fonts.googleapis.com/css2?family=Kameron:wght@400;700&display=swap");
@import "tailwindcss";

#root {
  --primary-color-peach: #ffdab3;
  --primary-color-purple: #574964;
  --primary-color-purple-light: #9f8383;
  --primary-color-purple-lighter: #c8aaaa;
  --primary-color-orange: #f55d3e;
  --primary-color-red: #d11f2f;
  --primary-color-teal: #07707a;
  --primary-color-yellow: #f5b83e;
  --font-kameron: "Kameron", sans-serif;
  background-color: #ffdab3;
  font-family: var(--font-kameron);
  height: 100%;
}

html,
body {
  height: 100%;
  width: 100%;
}

@layer base {
  h1 {
    font-family: var(--font-kameron);
    font-size: var(--text-5xl);
  }
  h2 {
    font-size: var(--text-4xl);
  }
  h3 {
    font-size: var(--text-xl);
  }
  h4 {
    font-size: var(--text-base);
  }
  h5 {
    font-size: var(--text-sm);
  }
}

@layer utilities {
  .animation-delay-75 {
    animation-delay: 75ms;
  }
  .animation-delay-500 {
    animation-delay: 500ms;
  }
  .animation-delay-1000 {
    animation-delay: 1s;
  }
}
