/* .github-picker > div > span > div {
  width: 36px;
  height: 36px;
} */
.github-picker {
  span {
    border-top: 1px solid rgb(194, 194, 194);
    border-bottom: 1px solid rgb(194, 194, 194);
    width: 36px;
    height: 36px;

    div {
      width: 36px !important;
      height: 36px !important;
    }
  }
}
